@{
    Layout = null;
}

<div class="dialogBoxUserDetails">
    <div class="userDetailsHeader mb-3">
        <div class="mb-4">
            <div class="dialogUserIconDiv">
                <div class="dialogUserIconDivInner">
                    <img src="../images/avatar5.png" alt="" class="dialogUserIcon" />
                </div>
            </div>
        </div>
        <div class="mb-2">
            @* <h5 class="userName">User Name <a href="#" target="_blank"><img src="../images/icon_sound_yellow.svg" alt="" /></a></h5> *@
            <h5 class="userName">User Name</h5>
            <p style="color: #999999; font-size: 15px;">Language | Accent</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="userDetailsBody mb-4">
        <div>
            <div class="headerText mb-2">Gender</div>
            <div class="bodyText">Mail</div>
        </div>
        <div>
            <div class="headerText mb-2">Age</div>
            <div>33</div>
        </div>
        <div>
            <div class="headerText mb-2">Industry</div>
            <div>-</div>
        </div>
        <div>
            <div class="headerText mb-2">Tag</div>
            <div>-</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="userDetailsBody mb-3">
        <div>
            <div class="headerText mb-2" style="text-align: left;">Description</div>
            <div class="bodyText" style="text-align: left;">-</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>