

    <form action="" id="frmTextToSpeech" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="hidden" name="hdnKioskDescription_0" value="0" />
                <textarea id="ttsssml" name="ttsssml" class="form-control" style="width:100%; height: 440px; resize: none; background-color: lightcyan;" value=""></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-3">
               @*      <label for="languageselect">Language</label>
                    <select id="languageselect" name="languageselect" class="form-control" style="background-color: lightcyan;">
                        
                    </select> *@
                <div class="form-group mb-3">
                    <label for="languageselect">Language</label>
                    <select id="languageselect" name="languageselect" class="form-control" style="background-color: lightcyan;"></select>
                </div>

                </div>
                <div class="form-group mb-3">
                    <label for="voiceselect">Voice</label>
                    <select id="voiceselect" name="voiceselect" class="form-control" style="background-color: lightcyan;">
                       
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="voicestyleselect">Speaking style</label>
                <select id="stylelist" name="stylelist" data-bi-id="demo-voicestyle-selector" class="form-control" style="background-color: lightcyan;">
                        <option value="general">General</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="speed" id="speedlabel">Speaking speed: <output id="speedOutputId">1.0</output></label>
                    <div class="slider">
                        <input type="range" id="speed" name="speed" min="-100" max="200" value="0" class="slider__input" oninput="speedOutputId.value = speed.value" data-bi-id="demo-rate-slider" aria-label="Speaking speed" style="width: 100%" />
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="pitch" id="pitchlabel">Pitch: <output id="pitchOutputId">1.0</output></label>
                    <div class="slider">
                        <input type="range" id="pitch" name="pitch" min="-50" max="50" value="0" class="slider__input" oninput="pitchOutputId.value = pitch.value" data-bi-id="demo-pitch-slider" aria-label="Pitch" style="width: 100%" />
                    </div>
                </div>
                <div class="form-group mb-3">
                    <ul class="list--links-horizontal" style="list-style-type: none; padding:0px;">
                        <li id="playli">
                            <input type="button" id="playbtn" class="btn-submit btn btn-primary" onclick="GetVoice()" value="Play" />
                            <span id="stopbtn" class="btn-submit btn btn-primary" onclick="resetAudio()" value="stop" style="display: none;">
                                @*<svg aria-hidden="true" role="presentation" data-slug-id="audio-stop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" style="width: 12px; height: 12px; fill: #ffffff;">
                                    <path d="M0,0H21V21H0ZM19.5,19.5V1.5H1.5v18Z"></path>
                                </svg>*@
                            <img src="~/images/sound_200.gif" style="width:20px" />
                                <span>Stop</span>
                            </span>
                            <div id="audioPlayer">
                            </div>
                            <br />
                           @* <div>
                                <button class="btn-submit btn btn-primary" asp-action="AddToDictionary" asp-controller="Home" >Pronunciation</button>
                            </div>*@
                        </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>

@section Scripts {
    <script>
        var IsEdit = false;
        $(document).ready(function () {


            getDropDownValues();
        

        });

    </script>
}
   

