@using Core.Models;
@using Core.Utility.Common;
@using X.PagedList.Mvc.Core;
@using Core.Resources;
@using Core.Entity.Enums;
@using Microsoft.AspNetCore.Http;


@model X.PagedList.PagedList<Core.Entity.Pronunciation>

@{
    ViewData["Title"] = "Pronunciation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        var changeStatusUrl = '/Pronunciation/ChangeStatus/';
        var searchUrl = '/Pronunciation/Search';
        var listtype = '@ViewBag.RequestList';
    </script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/run_prettify.js"></script>
    <script src="~/Scripts/responsive-table.js" type="text/javascript"></script>
    <script src="~/Scripts/Common/pagesort.js"></script>
    <script src="~/custom-js/pronunciation.js"></script>
    
    <script>
        var custDateTime = new Date().getTime();
        document.write("<script src=\"/Scripts/Common/commonlist.js?v=" + custDateTime + "\"><\/script>");
    </script>
    <script>
        var IsEdit = false;
        $(document).ready(function () {
            getFLanguage();
           // getLanguageOnLoad();
        });
    </script>

}
<script src="~/js/ssml.js"></script>
<div class="content-wrapper box" id="divLoader">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <input type="hidden" id="page" name="page" value="0" />
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="mtop15">
                <div class="card">

                    <div class="containerPronunciation containerPronunciationFirst">
                        <div class="col-md-12">                            
                            <p class="text-info"><small>All the fields marked <span class="star">*</span> are compulsory</small></p>
                        </div>
                        <div class="col-md-12">
                            <div class="_jsMainPronunciationBox">
                                <div class="PronunciationBox" id="divPronunciationBox_0">
                                    <div class="table-responsive">
                                        <form action="" id="frmAddPronunciation" method="post" enctype="multipart/form-data">
                                            <table id="tbl_0" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info" style="width: 1280px !important;">
                                                <tbody>
                                                    <tr id="tblRow_0">
                                                        <td class="wordbreak" style="width: 18%;">
                                                            <label>Your Word</label> <span class="starField">*</span><br />
                                                            <div class="form-control form-control-custom">
                                                                <input type="text" id="yourWord" name="yourWord_0" class="firstYourWord ttsssml1" />

                                                                <div class="playPauseContainer">
                                                                    <span id="playbtn1" class="btn-pronunciation-play" onclick="GetVoicePronunciation(1)"><i class="fas fa-play"></i></span>
                                                                    <span id="stopbtn1" onclick="resetAudio()" value="stop" class="playPause" style="display: none;">
                                                                        <img src="~/images/sound_200.gif" style="width:18px" />
                                                                        @* <i class="fa fa-pause"></i> *@
                                                                    </span>
                                                                    <span id="audioPlayer"></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="wordbreak" style="width: 18%;">
                                                            <label>Alternate Spelling</label> <span class="starField">*</span><br />
                                                            <div class="form-control form-control-custom">
                                                                <input type="text" id="alternateSpelling" name="alternateSpelling_0" class="firstAlternateSpelling ttsssml2" />
                                                                @* <span class="btnReplay"><img src="~/images/icon_replay.png" alt="" /></span> *@

                                                                <div class="playPauseContainer">
                                                                    <span id="playbtn2" class="btn-pronunciation-play" onclick="GetVoicePronunciation(2)"><i class="fas fa-play"></i></span>
                                                                    <span id="stopbtn2" onclick="resetAudio()" value="stop" class="playPause" style="display: none;">
                                                                        <img src="~/images/sound_200.gif" style="width:18px" />
                                                                        @* <i class="fa fa-pause"></i> *@
                                                                    </span>
                                                                    <span id="audioPlayer"></span>
                                                                </div>

                                                            </div>
                                                        </td>
                                                        <td class="wordbreak" style="width: 15%;">
                                                            <label>Dictionary Language</label> <span class="starField">*</span><br />
                                                            <select class="form-control firstLang" id="languageselect" name="languageselect">
                                                                <option value="0">Select</option>
                                                            </select>
                                                        </td>
                                                        <td class="wordbreak" style="width: 15%;">
                                                            <label>Accent</label> <span class="starField">*</span><br />
                                                            <select class="form-control firstAccent" id="accent" name="accent">
                                                                <option value="0">Select</option>
                                                            </select>
                                                        </td>
                                                        <td class="wordbreak" style="width: 15%;">
                                                            <label>Voice</label> @* <span class="starField">*</span> *@<br />
                                                            <select class="form-control firstVoice" id="voiceselect" name="voiceselect">
                                                                <option value="0">Select</option>
                                                            </select>
                                                        </td>
                                                        @*                                                     <td class="wordbreak"><button class="btn btn-sm btn-primary btn-save-custom" onclick="addRemovePronunciationItem.add()">Save</button></td>*@
                                                        <td class="wordbreak" style="width: 100px;"><span class="btn btn-sm btn-primary btn-save-custom" onclick="SavePronunciation('frmAddPronunciation')">Save</span></td>
                                                        <td class="wordbreak" style="width: 10%;">&nbsp;</td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </form>
                                        <div class="clearfix seprator"></div>
                                        @Html.Partial("_ListPartial", Model)
                                        <div class="clearfix"></div>
                                    </div>                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        @* <div class="row">
                        <div class="col-md-2">
                        <div class="form-group">
                        <label>Your word:</label><br />
                        <div class="form-control form-control-custom">
                        <input type="text" style="border: none;" />
                        </div>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <div class="form-group">
                        <label>Alternate Spelling:</label><br />
                        <div class="form-control form-control-custom">
                        <input type="text" />
                        </div>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <div class="form-group">
                        <label>Dictionary Language:</label><br />
                        <select class="form-control">
                        <option value="0">Select</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <div class="form-group">
                        <label>Voice:</label><br />
                        <select class="form-control">
                        <option value="0">Select</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <div class="form-group">
                        <label>Accent:</label><br />
                        <select class="form-control">
                        <option value="0">Select</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <button class="btn btn-sm btn-primary btn-save-custom">Save</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                        <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        </div> *@
                        <div class="clearfix"></div>
                    </div>
                    
                    @* <span><i class="fas fa-play"></i></span> *@
                    @* <div>
                        <div id="dvCommon">
                            @Html.Partial("_ListPartial", Model)
                        </div>
                    </div> *@
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
