@model Core.Entity.ResetPassword
@using Core.Business.DataAccess.Constants
@{
    string maxlength = "100";//LengthConstants.PASSWORD_MAX_LENGTH.ToString();
}

<div class="input_holder">
    <input class="form-control" data-val="true" data-val-required="The Password field is required." id="NewPassword" maxlength=@maxlength onpaste="return false;" autocomplete="off" name="NewPassword" placeholder="New Password" type="password" onkeydown="CallEnter(event, 'Submit')" onkeypress="    return jsAvoidSpace(event)">
</div>
<div class="clearfix"></div>
<div class="input_holder mtop20">
    <input class="form-control" data-val="true" data-val-required="The Confirm Password field is required." id="ConfirmPassword" name="ConfirmPassword" onpaste="return false;" autocomplete="off" maxlength=@maxlength placeholder="Confirm Password" type="password" onkeydown="CallEnter(event, 'Submit')" onkeypress="return jsAvoidSpace(event)">
</div>
<div class="clearfix"></div>
<div class="mtop20">
    <input id="Submit" type="button" onclick="SubmitPasswordForm('@Model.PassResetCode')" name="Submit" value="Submit" class="btn btn-primary" style="margin: auto;" />
</div>
<div>&nbsp;</div>


