@{
    //ViewBag.Title = "GyanAkaadamee | Home";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<!-- Body Section -->
<!-- Banner Section -->
<section class="lpage-banner-container">
    <div class="lpage-cust-container-inner">
        <div class="lpage-cust-container-inner-p20">
            <div class="lpage-banner-lp">
                <div class="lpage-banner-img-lp">
                    <img src="~/images/home-page-banner-mob-1.png" alt="image" class="img">
                </div>
                <div class="clear"></div>
            </div>
            <div class="lpage-banner-rp">
                <div class="lpage-banner-content">
                    <h1 class="lpage-banner-title">It is a Curriculum and Preschool management app. It allows teachers to take photo attendance, assign homework, track progress, and assess year end performance. Parents can track their child’s academic progress in real-time which helps them stay well informed of their child's performance. It will also provide a secure way for teachers to communicate with parents and administrators.</h1>
                    @*<h2 class="lpage-banner-subtitle">Get TD Academy to ....</h2>*@
                    <div class="mtop20">
                        <a href="https://play.google.com/store/apps/details?id=com.creativegalileo.tcacademyapp" class="lpage-banner-link" target="_blank" rel="noopener"><img src="~/images/icon-app-googlestore.png" alt="image" class="app-icons"></a><span class="lpage-banner-appsep1"></span><a href="https://apps.apple.com/in/app/td-academy/id6449385663" class="lpage-banner-link" target="_blank" rel="noopener"><img src="~/images/icon-app-appstore.png" alt="image" class="app-icons"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
<!-- Banner Section END-->
<div class="clear"></div>